<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Index</title>
    {% endblock %}
</head>
<body>
{% include 'header.html.twig' %}
{% block container %}
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore recusandae magni impedit, dolor laboriosam
        inventore ex unde autem deleniti optio delectus sunt distinctio vel aut? In, est distinctio! Expedita minus
        dolore, molestias odit explicabo totam, distinctio ullam, placeat dignissimos asperiores necessitatibus quisquam
        illum consequatur doloribus architecto porro blanditiis. Sapiente aliquam voluptatem tenetur incidunt ratione
        voluptatum repudiandae asperiores ab! Minus, ipsa eveniet. Aliquid, eos consequuntur! Veniam quas rerum sequi,
        quidem nisi eveniet sit asperiores veritatis ipsam accusantium unde laboriosam odio obcaecati dolores, ad enim
        doloremque. Dicta ab mollitia culpa nam vel quo maxime temporibus libero excepturi, maiores vitae tempore
        nesciunt assumenda!</p>
{% endblock %}
</body>
</html>